﻿@model IEnumerable<Lekkerbek.Web.ViewModels.Customers.IndexViewModel>

@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Overzicht klanten";
}

<h1>Overzicht klanten</h1>

<p>
    <a asp-action="Create">Nieuwe klant aanmaken</a>
</p>

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Customers.IndexViewModel>(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Id);
            columns.Bound(p => p.FoodPreference);
            columns.Bound(p => p.FirstName);
            columns.Bound(p => p.LastName);
            columns.Bound(p => p.BirthdayString);
            columns.Bound(p => p.Adress);
            columns.Bound(p => p.Email);
            columns.Bound(p => p.PhoneNumber);
            columns.Bound(p => p.Id).Width(116).Title(" ").ClientTemplate(
            "<a class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Customers") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Customers") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>"
            );
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetCustomers", "Customers"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)
        )
        .Events(e => e.DataBound("onDataBound"))
        )
</div>

<script>
    function onDataBound() {
        $('#grid table tr').dblclick(function (e) {
            var grid = $("#grid").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                window.location.href = "@Url.Action("Details", "Customers")" + "?id=" + id;
            }
        });
    }
</script>

