﻿@using Lekkerbek.Web.Models.Entities;
@using Lekkerbek.Web.Models.Enums;
@using Lekkerbek.Web.ViewModels.Orders;
@using Lekkerbek.Web.ViewModels.Customers;
@using System.ComponentModel.DataAnnotations
@model Lekkerbek.Web.ViewModels.Orders.CreateViewModel


@{
    ViewData["Title"] = "Aanmaken bestelling";
}

<h1>Aanmaken</h1>
<h4>Bestelling</h4>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="new SelectList(Model.SelectListCreate, nameof(CustomerViewModel.Id),nameof(CustomerViewModel.CustomerName))"></select>
            </div>

            <div class="form-group">
                <label asp-for="TimeSlotId" class="control-label"></label>
                <div class="row overflow-auto vh-100 m-0">
                    @foreach (IGrouping<Cook,TimeSlot> cookColumn in Model.ViewTimeSlots)
                    {
                        <ul class="list-group col">
                            <li class="list-group-item active">
                                @cookColumn.Key.FirstName
                            </li>
                            @foreach (TimeSlot timeSlot in cookColumn.ToList().OrderBy(ts => ts.StartTime))
                            {
                                string disabled = string.Empty;
                                if (timeSlot.IsOccupied)
                                {
                                    disabled = "disabled";
                                }
                                <li class="list-group-item">
                                    <input @disabled class="form-check-input me-1" type="radio" name="TimeSlotId" value="@timeSlot.Id">
                                    @timeSlot.StartTime.ToString("dd/MM/yy")
                                    <br>
                                    @timeSlot.StartTime.ToString("HH:mm") - @timeSlot.EndTime.ToString("HH:mm")
                                </li>
                            }
                        </ul>
                    }
                </div>

            </div>

            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Gerechten</th>
                            <th scope="col" class="col-8">Beschrijving</th>
                            <th scope="col">Prijs</th>
                            <th scope="col">Aantal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.DishIdList)
                            {                            
                                <tr>
                                <input type="hidden" name="productIds" value="@product.Id">
                                    <td><label>@product.Name</label></td>
                                <td><label class="fst-italic fw-light">@product.Description</label></td>
                                <td><label>@(product.Price)€</label></td>
                                <td><input type="number" name="quantities" min="0" max="999" class ="w-100" value="@product.Quantity"></td>
                                </tr>
                            }
                    </tbody>                 
                </table>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Dranken</th>
                            <th scope="col" class="col-8">Beschrijving</th>
                            <th scope="col">Prijs</th>
                            <th scope="col">Aantal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.NonAlcoholicIdList)
                        {
                            <tr>
                                <input type="hidden" name="productIds" value="@product.Id">
                                <td><label>@product.Name</label></td>
                                <td><label class="fst-italic fw-light">@product.Description</label></td>
                                <td><label>@(product.Price)€</label></td>
                                <td><input type="number" name="quantities" min="0" max="999" class="w-100" value="@product.Quantity"></td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="form-group">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col" class="col-4">Alcoholische dranken</th>
                            <th scope="col" class="col-8">Beschrijving</th>
                            <th scope="col">Prijs</th>
                            <th scope="col">Aantal</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var product in Model.AlcoholicIdList)
                        {
                            <tr>
                                <input type="hidden" name="productIds" value="@product.Id">
                                <td><label>@product.Name</label></td>
                                <td><label class="fst-italic fw-light">@product.Description</label></td>
                                <td><label>@(product.Price)€</label></td>
                                <td><input type="number" name="quantities" min="0" max="999" class="w-100" value="@product.Quantity"></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="form-group">
                <label asp-for="PaymentProcessor" class="control-label"></label>
                <select asp-for="PaymentProcessor" asp-items="Html.GetEnumSelectList<Lekkerbek.Web.Models.Enums.PaymentProcessor>()" class="form-control">
                    <option value="" selected></option>
                </select>
                <span asp-validation-for="PaymentProcessor" class="text-danger"></span>
            </div>
            @if (User.IsInRole("Customer"))
            {
                <div class="form-group">
                    <label asp-for="OrderStatus" class="control-label"></label>
                    <select asp-for="OrderStatus" class="form-control">
                        <option value="@OrderStatus.Wachten_op_betaling">Wachten op betaling</option>
                    </select>
                    <span asp-validation-for="OrderStatus" class="text-danger"></span>
                </div>
            } else
            {
                <div class="form-group">
                    <label asp-for="OrderStatus" class="control-label"></label>
                    <select asp-for="OrderStatus" asp-items="Html.GetEnumSelectList<OrderStatus>()" class="form-control"></select>
                    <span asp-validation-for="OrderStatus" class="text-danger"></span>
                </div>
            }
            <div class="form-group">
                <label asp-for="ExtraComments" class="control-label"></label>
                <textarea asp-for="ExtraComments" class="form-control"></textarea>
                <span asp-validation-for="ExtraComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
