﻿@model Lekkerbek.Web.ViewModels.Orders.DetailsViewModel

@{
    ViewData["Title"] = "Details bestelling";
}

<h1>Details</h1>

<div>
    <h4>Bestelling</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExtraComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExtraComments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        @if (Model.IsProfessional)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CompanyName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CompanyName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.VatNumber)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.VatNumber)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentProcessor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PaymentProcessor)
        </dd>
        <dt class="col-sm-2">
            Gerechten
        </dt>


    <dd class="col-sm-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Product</th>
            <th scope="col">Prijs excl. BTW</th>
            <th scope="col">BTW</th>
            <th scope="col">Prijs</th>
            <th scope="col">Aantal</th>
            <th scope="col">Totaal</th>
          </tr>
        </thead>
        <tbody>
          @{
            decimal fullTotal = 0;
          }
          @foreach (Lekkerbek.Web.ViewModels.OrderLines.OrderLineViewModel ol in Model.OrderLineList)
          {
            decimal total = ol.Price * ol.Quantity;
            fullTotal += total;
            <tr>
              <td>@ol.DishName</td>
              <td>@Math.Round((ol.Price / (1+ ol.Tax/100)),2)€</td>
              <td>@(ol.Tax)%</td>
              <td>@(ol.Price)€</td>
              <td>@ol.Quantity</td>
              <td>@(total)€</td>
            </tr>
          }
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5"></td>
            <td>@(fullTotal)€</td>
          </tr>
        </tfoot>
      </table>

    </dd>

        <dt class="col-sm-2">
            Totale prijs @(Model.HasDiscount ? "met korting" : "")
        </dt>
        <dd class="col-sm-10">
            @(Model.HasDiscount ? (Model.TotalPrice * (decimal)0.9).ToString("F") : Model.TotalPrice)€
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Customer") || User.IsInRole("Clerk") || User.IsInRole("Administrator") || User.IsInRole("Super"))
    {
        @if (Model.CanBeEdited)
        {
            <a asp-action="Edit" asp-route-id="@Model?.Id">Aanpassen</a>

            <span> | </span>
        }
        @if (!User.IsInRole("Customer"))
        {
            <a asp-action="SendEmail" asp-route-id="@Model?.Id">Verstuur E-mail</a>

            <span> | </span>
        }
        <a asp-action="Index">Terug naar de lijst</a>
    }
    @if (User.IsInRole("Cook"))
    {
        <a asp-controller="TimeSlots" asp-action="Index">Terug naar Tijdssloten</a>
    }
</div>
@if (User.IsInRole("Customer") || User.IsInRole("Clerk") || User.IsInRole("Administrator") || User.IsInRole("Super"))
{
    <input class="btn btn-primary mt-3" type=button name=print value="Print" onclick="javascript:window.print()">
}

