﻿@model IEnumerable<Lekkerbek.Web.ViewModels.Orders.IndexViewModel>

@using Kendo.Mvc.UI;

@{
    ViewData["Title"] = "Overzicht bestellingen";
}

<h1>Overzicht bestellingen</h1>

<p>
    <a asp-action="Create">Nieuwe bestelling aanmaken</a>
</p>

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Orders.IndexViewModel>(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.CreationDate);
            columns.Bound(p => p.TimeSlotInfo); // Timeslot.StartTime + Timeslot.EndTime
            columns.Bound(p => p.Name); // Customer.FirstName + Customer.LastName
            columns.Bound(p => p.PaymentProcessor);
            columns.Bound(p => p.Id).Width(170).Title(" ").ClientTemplate(
            "# if (DeletePossible == true && EditPossible == true && IdentityUserId == null) { #" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == true && EditPossible == true && IdentityUserId != null) { #" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href = '" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == false && EditPossible == true && IdentityUserId == null) { #" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href = '" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == false && EditPossible == true && IdentityUserId != null) { #" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href = '" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == true && EditPossible == false && IdentityUserId == null) { #" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == true && EditPossible == false && IdentityUserId != null) { #" +
            "<a class='d-inline invisible invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == false && EditPossible == false && IdentityUserId == null) {#" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } else if (DeletePossible == false && EditPossible == false && IdentityUserId != null) {#" +
            "<a class='d-inline invisible invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Invoice", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-print'></span></a>" +
            "<a class='d-inline invisible k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Orders") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>" +
            "# } #"
            );
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetOrders", "Orders"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)

        )
        .Events(e => e.DataBound("onDataBound")
        @*.DataBound("onTimerBound")*@)
        )
</div>

<script>
    function onDataBound() {
        $('#grid table tr').dblclick(function (e) {
            var grid = $("#grid").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                window.location.href = "@Url.Action("Details", "Orders")" + "?id=" + id;
            }
        });
    }

            //function onTimerBound() {
            //    setInterval(

            //        $('#grid table tr').(function (e) {
            //            var date = DateTime.now();

            //            if ()
            //        var grid = $("#grid").data("kendoGrid");
            //        var row = $(this);

            //        var dItem = grid.dataItem(row);
            //        if (dItem != null) {
            //            var id = dItem.Id;
            //            window.location.href = "Url.Action("Details", "Orders")" + "?id=" + id;
            //        }), 1000)
            //    });
            //}

            //function CheckSendMail() {
            //foreach (var item in Model)
            //{
            //    TimeSpan ts = item.TimeSlot.EndTime - DateTime.Now;
            //    if (Math.Floor(ts.TotalMinutes) < 180)
            //    {
            //        Console.WriteLine("Je bestelling is klaar over 3u!!");
            //        string sendMailContent = "Bestelling " + item.Id + " is klaar over 3u!!";
            //        Url.Action("Index", "Customers");
            //    }
            //}
            //}
            //setInterval(CheckSendMail, 1000)
</script>