﻿@model Lekkerbek.Web.Models.Entities.Order

@{
    ViewData["Title"] = "Factuur bestelling";
}

<h1>Factuur</h1>

<h4>Bestelling</h4>
<hr />


<form class="row" asp-action="Invoice">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
        
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreationDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreationDate)
    </dd>
    <input type="hidden" asp-for="CreationDate" />
    <span asp-validation-for="CreationDate" class="text-danger"></span>
 

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.FirstName)
        @Html.DisplayFor(model => model.Customer.LastName)
    </dd>
    <input type="hidden" asp-for="CreationDate" />
    <span asp-validation-for="CreationDate" class="text-danger"></span>
    <input type="hidden" asp-for="CustomerId" />
    <span asp-validation-for="CustomerId" class="text-danger"></span>

    <input type="hidden" asp-for="TimeSlotId" />
    <span asp-validation-for="TimeSlotId" class="text-danger"></span>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TimeSlot)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TimeSlot.StartTime)
    </dd>


    <dd class="col-sm-10">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Prijs excl. BTW</th>
                    <th scope="col">BTW</th>
                    <th scope="col">Prijs</th>
                    <th scope="col">Aantal</th>
                    <th scope="col">Totaal</th>
                </tr>
            </thead>
            <tbody>
                @{
                    decimal fullTotal = 0;
                }
                @foreach (Lekkerbek.Web.Models.Entities.OrderLine ol in Model.OrderLines)
                {
                    decimal total = ol.Dish.Price * ol.Quantity;
                    fullTotal += total;
                    <tr>
                        <td>@ol.Dish.Name</td>
                        <td>@Math.Round((ol.Dish.Price / (1+ ol.Dish.ProductCategory.Tax/100)),2)€</td>
                        <td>@(ol.Dish.ProductCategory.Tax)%</td>
                        <td>@(ol.Dish.Price)€</td>
                        <td>@ol.Quantity</td>
                        <td>@(total)€</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5"></td>
                    <td>@(fullTotal)€</td>
                </tr>
            </tfoot>
        </table>

    </dd>

    <input type="hidden" asp-for="ExtraComments" />
    <span asp-validation-for="ExtraComments" class="text-danger"></span>
    <dt class="col-sm-2">
        @if(@Model.ExtraComments != null)
        {
            @Html.DisplayNameFor(model => model.ExtraComments)
        }
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ExtraComments)
    </dd>
        
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PaymentProcessor)
    </dt>
    <dd class="col-sm-10">
        <select asp-for="PaymentProcessor" asp-items="@Html.GetEnumSelectList<Lekkerbek.Web.Models.Enums.PaymentProcessor>()" class="form-control">
            <option value="" selected></option>
        </select>
    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.OrderStatus)
    </dt>
    <dd class="col-sm-10">
        <select asp-for="OrderStatus" asp-items="@Html.GetEnumSelectList<Lekkerbek.Web.Models.Enums.OrderStatus>()" class="form-control"></select>
    </dd>
    @if (ViewBag.ammountOrders >= 3)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HasDiscount)
        </dt>
        <dd class="col-sm-10">
            @Html.CheckBoxFor(model => model.HasDiscount)

            met korting @((fullTotal * (decimal)0.9).ToString("F"))€
        </dd>
    }
    

    <div class="form-group">
        <input type="submit" value="Bewaren" class="btn btn-primary" />
    </div>
</form>



<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

