﻿@model Lekkerbek.Web.Models.Entities.Order

@{
    ViewData["Title"] = "Verzenden e-mail bestelling";
}

<h1>@Html.DisplayFor(m => m.Customer.FirstName) @Html.DisplayFor(m => m.Customer.LastName)</h1>
<p>@ViewBag.emailStatus</p>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

