﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registreren";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Maak een nieuw account aan.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="row">
                <div class="col-md-6">
                    <input asp-for="Input.FirstName" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.FirstName)" />
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input asp-for="Input.LastName" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.LastName)" />
                    <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input asp-for="Input.BirthDate" class="form-control" aria-required="true" />
                    <span asp-validation-for="Input.BirthDate" class="text-danger"></span>
                </div>
                <div class="col-md-6">
                    <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.PhoneNumber)" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div>
                <input asp-for="Input.Adress" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.Adress)" />
                <span asp-validation-for="Input.Adress" class="text-danger"></span>
            </div>
            <br />
            <div>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.Email)" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <br />
            <div class="form-outline">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.Password)" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <br />
            <div class="form-outline">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.ConfirmPassword)" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <hr />
            <div>
                <label asp-for="Input.FoodPreference" class="control-label"></label>
                <select id="foodPreferenceInput" asp-for="Input.FoodPreference" asp-items="@Html.GetEnumSelectList<Lekkerbek.Web.Models.Enums.FoodCategory>()" class="form-control">
                    <option selected value="">Geen voorkeur</option>
                </select>
            </div>
            <br />
            <div class="row">
                <div class="col-md-1">
                    <input id="isProfessionalCheck" type="checkbox" asp-for="Input.IsProfessional" />
                </div>
                <div class="col-md-11">
                    <label asp-for="Input.IsProfessional"></label>
                </div>
            </div>
            <br />
            <div id="companyDiv" style="display:none">
                <div>
                    <input asp-for="Input.CompanyName" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.CompanyName)" />
                    <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                </div>
                <br />
                <div>
                    <input asp-for="Input.VatNumber" class="form-control" aria-required="true" placeholder="@Html.DisplayNameFor(m => m.Input.VatNumber) (BE0xxxxxxxxx)" />
                    <span asp-validation-for="Input.VatNumber" class="text-danger"></span>
                </div>
                <br />
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Registreer</button>
        </form>
    </div>
    @*<div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>*@
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<script>
    const checkbox = document.getElementById('isProfessionalCheck');
    const div = document.getElementById('companyDiv');

    if (checkbox.checked) {
        div.style.display = 'block';

    }

    checkbox.addEventListener('change', function() {
        if (checkbox.checked) {
            div.style.display = 'block';

        } else {
            div.style.display = 'none';

        }
    });

</script>
