﻿@model Lekkerbek.Web.Models.Entities.Company

@{
    ViewData["Title"] = "Aanmaken firma";
}

<h1>Aanmaken</h1>

<h4>Firma</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VatNumber" class="control-label"></label>
                <input asp-for="VatNumber" class="form-control" />
                <span asp-validation-for="VatNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPersonId" class="control-label"></label>
                <select asp-for="ContactPersonId" class="form-control" asp-items="ViewBag.ContactPersonId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Aanmaken" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
