﻿@model Lekkerbek.Web.Models.Entities.Company

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Firma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VatNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VatNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactPerson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactPerson.FirstName)
            @Html.DisplayFor(model => model.ContactPerson.LastName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Terug naar de lijst</a>
</div>
