﻿@using Kendo.Mvc.UI;
@model IEnumerable<Lekkerbek.Web.ViewModels.Companies.IndexViewModel>

@{
    ViewData["Title"] = "Overzicht firma's";
}

<h1>Overzicht firma's</h1>

<p><a asp-action="Create">Nieuwe firma</a></p>
<p><a asp-action="CreateContactPerson">Nieuwe contactpersoon</a></p>

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Companies.IndexViewModel>(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.Name);
            columns.Bound(p => p.VatNumber);
            columns.Bound(p => p.ContactName);
            columns.Bound(p => p.Id).Width(116).Title(" ").ClientTemplate(
            "<a class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Edit", "Companies") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>" +            
            "<a class='k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("Delete", "Companies") +
            "/#= Id #'" + "><span class='k-icon k-i-delete'></span></a>"
            );
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetCompanies", "Companies"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)
        )
        .Events(e => e.DataBound("onDataBound"))
        )
</div>

<script>
    function onDataBound() {
        $('#grid table tr').dblclick(function (e) {
            var grid = $("#grid").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                window.location.href = "@Url.Action("Details", "Companies")" + "?id=" + id;
            }
        });
    }
</script>
