﻿@model Lekkerbek.Web.ViewModels.Timeslots.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TimeSlot</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsOccupied)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsOccupied)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CookFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CookFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderExtraComments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderExtraComments)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
