﻿@using Kendo.Mvc.UI;
@model IEnumerable<Lekkerbek.Web.ViewModels.Timeslots.IndexViewModel>

@{
    ViewData["Title"] = "Bezette tijdsloten";
}

<h1>Tijdsloten</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>*@
            @*            <th>
            @Html.DisplayNameFor(model => model.Date)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.IsOccupied)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CookFirstName)
            </th>
            <th>
                Bestelling
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>*@
                @*            <td>
            @Html.DisplayFor(modelItem => item.Date)
            </td>*@
               @* <td>
                    @Html.DisplayFor(modelItem => item.IsOccupied)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CookFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @{
                        if (item.OrderId != 0)
                        {
                            <a asp-controller="Orders" asp-action="Details" asp-route-id="@item.OrderId">Ga naar Bestelling</a>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>*@

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Timeslots.IndexViewModel>(Model)
        .Name("grid")
        .Columns(columns =>
        {
            columns.Bound(p => p.StartTime);
            columns.Bound(p => p.IsOccupied).ClientTemplate("# if (IsOccupied == true) { #" + "<input type='checkbox' disabled='disabled' checked='true' />" + "# } else { #" + "<input type='checkbox' disabled='disabled' />" + "# }  #");
            columns.Bound(p => p.CookFirstName);
            columns.Bound(p => p.OrderId);
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetTimeSlots", "TimeSlots"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)
        )
        .Events(e => e.DataBound("onDataBound"))
        )
</div>

<script>
    function onDataBound() {
        $('#grid table tr').dblclick(function (e) {
            var grid = $("#grid").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                if (dItem.OrderId != 0) {
                    window.location.href = "@Url.Action("Details", "Orders")" + "?id=" + dItem.OrderId;
                }
            }
        });
    }
</script>