﻿@using Kendo.Mvc.UI;


@{
    ViewData["Title"] = "Overzicht koks";
}

<h1>Overzicht koks</h1>

<p>
    <a asp-action="CookCreate">Nieuwe kok aanmaken</a>
</p>

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Employees.IndexViewModel>()
        .Name("gridCooks")
        .Columns(columns =>
        {
            columns.Bound(p => p.FirstName);
            columns.Bound(p => p.LastName);
            columns.Bound(p => p.BirthdayString);
            columns.Bound(p => p.Adress);
            columns.Bound(p => p.Email);
            columns.Bound(p => p.PhoneNumber);
            columns.Bound(p => p.Id).Width(10).Title(" ").ClientTemplate(
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("CookEdit", "Employees") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>"
            );
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetCooks", "Employees"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)
        )
        .Events(e => e.DataBound("onDataBoundCooks"))
        )
</div>

<h1 class='mt-3'>Overzicht clerks</h1>

<p>
    <a asp-action="ClerkCreate">Nieuwe bediende aanmaken</a>
</p>

<div class="form-group">
    @(
        Html.Kendo().Grid<Lekkerbek.Web.ViewModels.Employees.IndexViewModel>()
        .Name("gridClerks")
        .Columns(columns =>
        {
            columns.Bound(p => p.FirstName);
            columns.Bound(p => p.LastName);
            columns.Bound(p => p.BirthdayString);
            columns.Bound(p => p.Adress);
            columns.Bound(p => p.Email);
            columns.Bound(p => p.PhoneNumber);
            columns.Bound(p => p.Id).Width(10).Title(" ").ClientTemplate(
            "<a class='d-inline k-button k-button-md k-rounded-md k-button-solid k-button-solid-base m-1' href='" +
            Url.Action("ClerkEdit", "Employees") +
            "/#= Id #'" + "><span class='k-icon k-i-edit'></span></a>"
            );
        })
        .HtmlAttributes(new { style = "height: auto;" })
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))

        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("GetClerks", "Employees"))
        .Model(model => model.Id(d => d.Id))
        .PageSize(5)
        )
        .Events(e => e.DataBound("onDataBoundClerks"))
        )
</div>

<script>
    function onDataBoundCooks() {
        $('#gridCooks table tr').dblclick(function (e) {
            var grid = $("#gridCooks").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                window.location.href = "@Url.Action("CookDetails", "Employees")" + "?id=" + id;
            }
        });
    }
</script>

<script>
    function onDataBoundClerks() {
        $('#gridClerks table tr').dblclick(function (e) {
            var grid = $("#gridClerks").data("kendoGrid");
            var row = $(this);

            var dItem = grid.dataItem(row);
            if (dItem != null) {
                var id = dItem.Id;
                window.location.href = "@Url.Action("ClerkDetails", "Employees")" + "?id=" + id;
            }
        });
    }
</script>